* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f0f2f5;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100%;
  background: #363636;
  color: white;
  padding: 20px;
}

.sidebar .logo {
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  margin-bottom: 20px;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}

.sidebar li i {
  margin-right: 10px;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 18%;
  width: 82%;
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 10;
}

header .search input {
  width: 300px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right .profile-pic {
  border-radius: 50%;
}

/* Main Content */
main {
  margin-left: 18%;
  margin-top: 90px;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.projects, .side-panels{
    padding: 15px;
}

/* Projects Grid */
.projects .project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: white;
  border-radius: 1px;
  padding: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.453), inset 15px 0px 0px rgb(0, 170, 255);
  height: 200px;
  text-align: center;
  justify-content: center;
}

/* Right Panels */
.side-panels .panel {
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.panel h3 {
  margin-bottom: 10px;
}

.panel ul {
  list-style: none;
}

.panel li{
    padding: 10px;
}

hr{
    width: 75%;
    height: 5px;
}

img{
    border-radius: 50px;
    padding: 20px;
    background-color: pink;
}